/* OWL SLIDER */
.main-slider {

    width: 100%;
    background-color: #141414;

}

.slick-slider {

    width: 97%;
    margin-left: 2rem;
}


.us-tvshows {

    position: relative;
    margin-top: -7rem;

}

.us-tvshows h3 {

    color: #fff;
    margin-left: 3rem;
    font-size: x-large;

}

.slide-h3 h3 {

    color: #fff;
    margin-left: 3rem;
    font-size: x-large;
    margin-top: 2%;

}

.slick-initialized .slick-slide {

    margin-right: 0px;
}

.next-btn {

    position: absolute;
    right: 0;
    color: #fff;
    background-color: transparent;
    height: 100%;
    padding: 0.1rem 0.9rem 0.1rem 0.9rem;
    border: none;
    outline: none;
    transition: all ease-in-out 0.2s;
    font-size: x-large;

}

.next-btn:hover {

    background-color: #141414a5;

}

.card-img-overlay {
    position: absolute;
    top: 40%;
    left: 0;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}


/* CARD-HOVER */

.card-hoverable {

    width: 98%;
    transition: display ease-in 0.6s;

}

.card-animation {
    animation: fade-in 0.9s;
}

@keyframes fade-in {

    from {
        opacity: 0;
    }

    to {

        opacity: 100;
    }
}

.slider-item:hover .card-hoverable {

    display: none !important;

}

.slider-item:hover .hover-card {

    display: block;
}

.hover-card {

    background-color: #141414;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    display: none;
    z-index: 1;
    color: #fff;
    margin-top: -5rem;
    width: 18rem;
    transition: transform 2s;


}

.hover-card:hover {

    transform: scale(103%);

}

.slick-list {

    overflow: visible !important;
    overflow-x: clip !important;

}


.hover-btn {

    color: #000;
    background-color: #fff;
    border-radius: 22px;
    border: none;
    outline: none;
    font-size: medium;
    margin-right: 3%;

}

.hover-btn:hover {

    background-color: #e7e4e4;
    color: #000;
}

.hover-btn-plus {

    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 22px;
    border: 1px solid #d3caca59;
    outline: none;
    font-size: medium;
    margin-right: 3%;

}

.hover-btn-plus:hover {

    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid #fff;
}

.match {

    color: #46d369;
    font-weight: 600;
}

.match span {

    color: #d6d1d1b8;
    font-weight: 500;
    border: 1px solid #d3caca59;
    padding: 0rem 0.5rem 0rem 0.5rem;
}


/* RESPONSIVE */

@media only screen and (min-width: 1180px) and (max-width: 1400px) {

    /* OWL SLIDER */
    .card-img-overlay {
        position: absolute;
        top: 30%;
        left: 0;
        color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 5px;
    }

    .card-title {

        font-size: medium;
    }



}

@media only screen and (min-width: 991px) and (max-width: 1180px) {

    /* OWL SLIDER */
    .us-tvshows {

        position: relative;
        margin-top: -4rem;

    }

    .card-img-overlay {
        position: absolute;
        top: 30%;
        left: 0;
        color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 5px;
    }

    .card-title {

        font-size: medium;
    }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* OWL SLIDER */
    .us-tvshows {

        position: relative;
        margin-top: -3rem;

    }

    .slick-slider {

        width: 96%;
    }


    .us-tvshows h3 {


        margin-left: 2rem;
        font-size: larger;

    }

    .slide-h3 h3 {

        margin-left: 2rem;
        font-size: larger;

    }


    .card-img-overlay {
        position: absolute;
        top: 45%;
        left: 0;
        color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 5px;
    }

    .card-title {

        font-size: medium;
    }

}

@media only screen and (min-width: 600px) and (max-width: 768px) {


    /* OWL SLIDER */
    .us-tvshows {

        position: none;
        margin-top: 0px;
        padding-top: 5rem;

    }

    .us-tvshows h3 {

        margin-left: 1rem;
        font-size: larger;

    }

    
    .slide-h3 h3 {

        margin-left: 1rem;
        font-size: larger;

    }



    .slick-slider {

        width: 96%;
        margin-left: 0rem;
    }


    .card-img-overlay {
        position: absolute;
        top: 45%;
        left: 0;
        color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 5px;
    }

    .card-title {

        font-size: medium;
    }


}


@media only screen and (min-width: 481px) and (max-width: 600px) {


    /* OWL SLIDER */
    .us-tvshows {

        position: none;
        margin-top: 0px;
        padding-top: 5rem;

    }

    .us-tvshows h3 {

        margin-left: 1rem;
        font-size: larger;

    }

    
    .slide-h3 h3 {

        margin-left: 1rem;
        font-size: larger;

    }



    .slick-slider {

        width: 96%;
        margin-left: 1rem;
    }

    .card-img-overlay {
        position: absolute;
        top: 0%;
        left: 0;
        color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 5px;
    }

    .card-title {

        font-size: medium;
    }


}


@media only screen and (max-width: 481px) {


    /* OWL SLIDER */
    .us-tvshows {

        position: none;
        margin-top: 0px;
        padding-top: 4rem;

    }

    .us-tvshows h3 {

        margin-left: 1.5rem;
        font-size: larger;
        color: #999;
        font-weight: 700;

    }

    
    .slide-h3 h3 {

        margin-left: 1.5rem;
        font-size: larger;
        color: #999;
        font-weight: 700;

    }



    .slick-slider {

        width: 85%;
        margin-left: -1rem;
    }

    .card-img-overlay {
        position: absolute;
        top: 0%;
        left: 0;
        color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 5px;
    }

    .card-title {

        font-size: medium;
    }


}