.Netflix-footer{

    background-color: #141414;
    padding: 0.9rem 7rem 0.9rem 7rem;
}

.Netflix-foot a{

    color: grey;
    text-decoration: none;
    font-size: smaller;
}

.Netflix-foot a:hover{

    text-decoration: underline;
}

.Netflix-foot-btn{

    color: grey;
    background-color: transparent;
    border: 1px solid grey;
    padding: 0.4rem 1rem 0.4rem 1rem;
    font-size: small;
    font-weight: 500;
    margin-bottom: 1%;
}

.Netflix-foot-btn:hover{

    color: #fff;

}

.copyright-netflix{

    color: grey;
    font-size: smaller;
}

.Netflix-foot-icon i{

    font-size: x-large;
    margin-right: 2%;
    color: #fff;

}